/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    font-family:'FuturaBoldCondensedOblique', sans-serif;
    line-height: 1.6;
    background-color: #fcfcfcfd;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-img {
   width: 70px;
   height: auto;
   margin-right: 20px;
   margin-left: 20px;
  }
  .lupa {
    width: 25px;
    height: auto;
    margin-left: auto;
  }
  
  .nav a {
    color: rgb(0, 0, 0);
    margin-left: 15px;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .destaque {
    background-color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
  }
  
  .destaque h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .destaque p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .produtos {
    padding: 20px;
    text-align: center;
  }
  
  .produtos h2 {
    margin-bottom: 20px;
  }
  
  .produto {
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    vertical-align: top;
  }
  
  .produto img {
  width: 360px;
  }
  
  .precos {
    padding: 30px 20px;
    background-color: #eeeeee;
  }
  
  .precos table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .precos th, .precos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .precos th {
    background-color: #c5c5c5;
    color: white;
  }
  
  .footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .nome-produto {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .categoria {
    color: gray;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .preco {
    color: black;
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .preco-antigo {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
    font-size: 0.9em;
  }
  
  .desconto {
    color: rgb(0, 138, 0);
    font-size: 0.9em;
    margin-left: 5px;
  }
  
  .avaliacao {
    color: black;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .nota {
    background-color: #f0f0f0;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.9em;
    align-items: baseline;
  }
  
  @font-face {
    font-family: 'FuturaBoldCondensedOblique';
    src: url('fonts/futura-std-bold-condensed-oblique.otf') format('opentype');
    font-weight: bold;
    font-style: oblique;
  }
  